<h2>Jokes</h2>

<p>
    1. We only want to make a single API request the first time we call getJoke()
</p>
<p>
    2. Without making any new API requests, we expect to get the same value whenever calling getJoke()
</p>
<p>
    3. When calling reloadJoke(), we want to create another single API request
</p>
<p>
    4. We expect any existing subscriptions to observe this new published value
</p>

<div class="row">
    <button (click)="getJoke()">Get Joke</button>
    <button (click)="reloadJoke()">Reload Jokes</button>
    <button (click)="clearJokes()">Clear Jokes</button>
</div>

<h3>
    Echo Chamber of Laughs
</h3>

<p>We want to tell only the same joke:</p>

<div>
    <ng-container *ngFor="let joke$ of jokes$">
        <div class="block" *ngIf="joke$ | async as joke">
            <p>{{ joke.setup }}</p>
            <p>{{ joke.punchline }}</p>
        </div>
    </ng-container>
    <ng-container *ngIf="!jokes$.length">
        <p>Tell a joke!</p>
    </ng-container>
</div>
