<p>Jokes</p>

<div>
    1. We only want to make a single api request the first time we call getJoke()
</div>
<div>
    2. We expect to get the same value whenever calling getJoke() again, but not make a request
</div>
<div>
    3. When calling reload joke, we want to create a single new api request
</div>
<div>
    4. We expect any existing observables to publish this new value
</div>

<br>

<div>
    <button (click)="getJoke()">Get Joke</button> | 
    <button (click)="reloadJoke()">Reload Joke</button> | 
    <button (click)="clearJoke()">Clear Joke</button>
</div>

<div *ngIf="joke$ | async as joke">
    <p>{{ joke.setup }}</p>
    <p>{{ joke.punchline }}</p>
</div>

<br><br><br>

<div>
    Echo Chamber of Laughs
</div>

<p>We want to tell only the same joke:</p>

<div>
    <button (click)="clearJokes()">Clear Jokes</button>
</div>

<div>
    <ng-container *ngFor="let joke$ of jokes$">
        <div class="block" *ngIf="joke$ | async as joke">
            <p>{{ joke.setup }}</p>
            <p>{{ joke.punchline }}</p>
        </div>
    </ng-container>
    <ng-container *ngIf="!jokes$.length">
        <p>Tell a joke!</p>
    </ng-container>
</div>